[Unit]
Description=ssh reverse
StartLimitIntervalSec=0

[Service]
Type=forking
ExecStart=autossh -M 55556 -Nf -R 55555:localhost:22 root@hz.chenxiaosong.com
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
