/* 用于内联代码的样式 */
code {
  // padding: .2em .4em;
  margin: 0;
  // font-size: 85%;
  white-space: break-spaces;
  background-color: rgba(175,184,193,0.2);
  // border-radius: 6px;
}

/* 引用样式 */
blockquote {
  margin: 0;
  padding: 0 1em;
  color: #656d76;
  border-left: .25em solid #d0d7de;
}
